/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/

.vs/
.idea/
.vsconfig
UpgradeLog.htm
*.csproj
*.sln
*.user
*.tmp
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

sysinfo.txt
# macOS
.DS_Store

# VSCode
.vscode/

# Speech Models (Do not push 1.8GB files to GitHub)
Assets/StreamingAssets/vosk-model*
